 #nav{
        margin:0;
        text-align:center;
        width:1160px;
        vertical-align:central;
    top: 0px;
    left: 0px;
}
    #logicMenu ul{
        padding:0;
        list-style:none;
        width:100%;
    }
    #logicMenu ul li {
        float:left;
        text-align:center;
        width:auto;
	    white-space: nowrap;
        margin:1px;
      
    }
    #logicMenu ul li a {
        color:whitesmoke;
        text-decoration:none;
        display:block;
        font-family:Calibri;
        font-size:medium;
        background:#2d82ea;
        
    }
    #logicMenu ul li a:hover {
        background:#0015ff;
        color:white;
    }
    #logicMenu ul li ul{
        background:#2d82ea;
        display:none;
    }
    #logicMenu ul li:hover ul{
        display:block;
    }
