<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="LogicUniversityEntities" connectionString="metadata=res://*/model45.csdl|res://*/model45.ssdl|res://*/model45.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LogicUniversity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogicUniversityEntities1mine" connectionString="metadata=res://*/Model908.csdl|res://*/Model908.ssdl|res://*/Model908.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LogicUniversity;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogicUniversityEntities112323aa" connectionString="metadata=res://*/Model14555.csdl|res://*/Model14555.ssdl|res://*/Model14555.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LogicUniversity;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogicUniversityEntities1" connectionString="metadata=res://*/LogicUniversity.csdl|res://*/LogicUniversity.ssdl|res://*/LogicUniversity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LogicUniversity;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogicUniversityEntities2" connectionString="metadata=res://*/LoGICUNIVERSITY.csdl|res://*/LoGICUNIVERSITY.ssdl|res://*/LoGICUNIVERSITY.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LogicUniversity;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogicUniversityEntities3" connectionString="metadata=res://*/LogicUniversityEntities.csdl|res://*/LogicUniversityEntities.ssdl|res://*/LogicUniversityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LogicUniversity;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogicUniversityConnectionString" connectionString="Data Source=(local);Initial Catalog=LogicUniversity;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>